RewriteEngine On
RewriteBase /

# Se o arquivo ou diretório não existir, redirecione para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]